mixin endpoint(method, action)
  br
  form(method=method, action=action)
    block

mixin input(name, value)
  input.form-control(type='text', name=name, value=value)
  br

mixin button(text)
  button.btn(type='submit')=text
  br
  br
